@import url("https://fonts.googleapis.com/css?family=VT323");

.nav {
  display: flex;
  justify-content: flex-start;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #555555;
  border-bottom: 4px solid black;
}

.nav-list {
  display: flex;
  margin-left: 2rem;
  list-style: none;
}

.nav-list a {
  display: block;
  font-size: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  text-decoration: none;
  color: #efefef;
  font-family: VT323, sans-serif;
  border-left: 3px solid #efefef;
}

.nav-list a:hover {
  color: #880000;
}

#contact-list-item {
  border-right: 3px solid #efefef;
}

#unfun-icon {
  width: 64px;
  height: 64px;
}

#unfun-banner {
  width: 576px;
  height: 48px;
  margin-top: 0.5rem;
  padding-left: 22rem;
}

.spacer {
  height: 5rem;
}

.welcome-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #ffffff;
  background-image: url(https://images6.alphacoders.com/900/900628.png);
  color: #efefef;
  background-size: cover;
}

h1 {
  margin-top: 1rem;
  margin-bottom: 0;
  padding-bottom: 0;
  font-size: 6rem;
  font-family: VT323;
}

#welcome-sub-headline {
  font-family: VT323, sans-serif;
  font-size: 2.5rem;
  margin: 0;
  margin-top: 1rem;
  padding: 0;
  color: yellow;
  font-weight: 600;
}

#divider {
  width: 100%;
  height: 1rem;
  background-color: #bfbfbf;
}

#game-pic {
  height: 26rem;
  width: 30rem;
}

#projects {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background-color: #333333;
  font-family: VT323, sans-serif;
  font-size: 2rem;
  color: #dfdfdf;
  background-image: url(https://steamuserimages-a.akamaihd.net/ugc/100603690274632772/7538841421DEA4DA2E4F1DFE1EA1D1C2D0C0632E/);
}

.projects p {
  margin: 0;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}

.projects img {
  border: 5px solid black;
  border-radius: 10px;
}

.projects img:hover{
  border-color: #880000;
}

.projects h2 {
  text-align: center;
  margin: 0;
  padding: 0;
  margin-bottom: 1rem;
}

h2 a {
  color: #EFEFEF;
}

h2 a:hover {
  color: #880000;
}

#contact {
  padding-top: 5rem;
}

.project-tile{
  margin-top: 3rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#contact {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 70vh;
  background-color: #353535;
  font-family: VT323, sans-serif;
  font-size: 2rem;
  background-image: url("https://preview.redd.it/6axfm8uck3oy.png?width=960&crop=smart&auto=webp&s=05381055515b4f9da911d385b8dca75e128a4200");
  background-size: cover;
}

.contact-logo {
  height: 12rem;
  width: 16rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.contact-logo:hover {
  animation: shake 0.5s;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
}

#twitter-contact {
  border: 2px solid black;
  border-radius: 10px;
}

#gmail-contact {
  border: 2px solid black;
  border-radius: 10px;
}


@media (max-width: 1250px) {
  #projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #333333;
    font-family: VT323, sans-serif;
    font-size: 2rem;
    color: #dfdfdf;
    background-size: cover;
  }

  #single-player {
    padding: 0;
    margin-top: 2rem;
  }

  #multi-player {
    padding: 0;
    margin-top: 2rem;
  }

  .contact-logo {
    height: 8rem;
    width: 12rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .contact-tile h2 {
    font-size: 2rem;
  }

  #unfun-banner {
    padding-left: 3rem;
  }
}


@media (max-width: 900px) {
  #contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 65rem;
    background-color: #353535;
    font-family: VT323, sans-serif;
    font-size: 2rem;
  }

  #projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #333333;
    font-family: VT323, sans-serif;
    font-size: 2rem;
    color: #dfdfdf;
    background-size: cover;
  }
  
  .project-tile {
    margin-top: 3rem;
  }

  .projects p {
    margin: 0;
    margin-bottom: 3rem;
    text-align: center;
  }

  .projects img {
    border: 3px solid black;
    border-radius: 10px;
  }

  #single-player {
    padding: 0;
  }

  #multi-player {
    padding: 0;
  }
  
  .contact-tile {
    margin-bottom: 3rem;
  }

  .welcome-section {
    height: 20rem;
    background-size: cover;
  }

  #unfun-banner {
    visibility: hidden;
  }
}



@media only screen and (max-width: 550px) {
  h1 {
    text-align: center;
  }

  #game-pic {
    height: 16rem;
    width: 20rem;
  }

  #single-player {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #multi-player {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .welcome-section {
    background-size: contain;
    height: 20rem;
  }

  .nav-list {
    margin-left: 0;
  }

  .nav-list a {
    font-size: 2rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  #contact {
    height: 65rem;
  }

  #unfun-icon {
    visibility: hidden;
  }

  .nav-list {
    padding: 0;
  }
}
